
<div id="homeContainer" class="row">

    <div class="small-12 medium-12 large-12">
        <div class="small-12 medium-12 large-12 columns">
        <img src="images/{{images.logo}}" alt="logo" id="logo"> 
        </div>

        <div class="small-12 medium-12 large-6 large-push-6 columns text-center" id="text">
        <h1>{{text.title}}</h1>
        <p>{{text.about}}</p>
        </div>

        <div class="small-12 medium-12 large-6 large-pull-6 columns text-center">
        <img src="images/{{images.productImage}}" alt="" id="juices"> 
        </div>
    </div>

    
    <div class="small-12 medium-12 large-12">
        <div class="small-12 medium-12 large-12 columns flavors">
        <div class="small-4 medium-4 large-4 columns text-center">
        <h1>{{text.ourflavors}}</h1>
        </div>
        <div class="small-8 medium-8 large-8 columns">
        <p>{{text.ourflavorsText}}</p>
        </div>
        </div>
    </div>

    <div class="small-12 medium-12 large-12" id="prod">

        <div class="small-12 medium-12 large-6 columns text-center">
        <img src="images/{{images.prod1}}" alt="" class="prod"> 
        <p>{{text.flavor1}}</p>
        </div>

        <div class="small-12 medium-12 large-6 columns text-center">
        <img src="images/{{images.prod2}}" alt="" class="prod"> 
        <p>{{text.flavor2}}</p>
        </div>

        <div class="small-12 medium-12 large-6 columns text-center">
        <img src="images/{{images.prod3}}" alt="" class="prod"> 
        <p>{{text.flavor3}}</p>
        </div>

        <div class="small-12 medium-12 large-6 columns text-center">
        <img src="images/{{images.prod4}}" alt="" class="prod"> 
        <p>{{text.flavor4}}</p>
        </div>

    </div>

</div>
